%html
    %head
        %title Hello World
    %body
        %div(style="border:1px solid grey;") Hello
        %div{:id => 4}
            .tablename
                I'm a class tag
        #closer I'm the closer

